<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="Welcome to a tiny space on the internet made by Tyler Gamvrelis" />

	<!-- Meta tag looking for mobile devices -->
	<meta name="viewport" content="initial-scale=1.5">
	<meta name="theme-color" content="#232323">
	<!-- link to main stylesheet -->
	<link rel="stylesheet" href="../assets/css/styles.css" />
	<link rel="icon" type="image/x-icon" href="assets/img/favicon.ico">

	<title>
		{% if page.title %}
		{{ page.title }} ::
		{% endif %}
		{{ site.title }}

	</title>

</head>